@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Vend+Sans:ital,wght@0,300..700;1,300..700&family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gabarito:wght@400..900&display=swap');

* {
  scrollbar-width: thin;
  scrollbar-color: #363636 #00000000;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

#root {
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif !important;
  display: block;
}

.verified-check {
  font-size: 0.9em;
}

.boldonese {
  font-family: "Boldonse", system-ui;
}

.inter {
  font-family: "Inter", sans-serif;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
}

.gabarito {
  font-family: "Gabarito", sans-serif;
}

.text-very-big {
  font-size: 7em;
}

.search-group {
  border-radius: 1em;
}

.dropdown-menu {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.video-card {
  transition: filter 0.2s;
}

.video-card:active {
  filter: brightness(0.9);
}

.bg-blur {
  backdrop-filter: blur(5px);
}

.overlay .MuiTouchRipple-child {
  background: rgb(255, 255, 255) !important;
}

.MuiOutlinedInput-notchedOutline {
  transition: border-color 250ms ease-out !important;
}

.profile-picture-container .overlay {
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.profile-picture-container:hover .overlay {
  opacity: 1;
}

.no-profile-icon {
  background-color: gray;
  color: white;
  width: 6em;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.no-profile-icon i {
  font-size: 1.8em;
  margin: 0;
  padding: 0;
}