@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

#root {
  margin: 0 auto;
}

.verified-check {
  font-size: 0.9em;
}

.boldonese {
  font-family: "Boldonse", system-ui;
}

.inter {
  font-family: "Inter", sans-serif;
}

.vend-sans {
  font-family: "Vend Sans", sans-serif;
}

/* Custom Bootstrap theme */
.dropdown-menu {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.video-card {
  transition: transform 0.2s, filter 0.2s;
}

.video-card:active {
  transform: scale(0.99);
  filter: brightness(0.9);
}